@import './_fontawesome.scss';
@import './_fonts.scss';
@import "./_modal_connection.scss";
@import "./_navbar.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";



html {
    background-color: rgb(53, 51, 51);
}

body {
    width: 80%;
    margin: auto;

    header {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}
