@font-face {
    font-family: "maiden";
    src: url('../../public/fonts/maiden.ttf');    
}
@font-face {
    font-family: "spiderman";
    src: url('../../public/fonts/spiderman.ttf');     
}

.maiden {
    font-family: "maiden";
}
.spiderman {
    font-family: "spiderman";
    text-transform: uppercase;
    font-size: 20px;
}