@import './partials/_general.scss';

#carousel {
    height: 400px;
    
    @media (max-width:500px){
        height: auto;
    } 
    #carouselExampleSlidesOnly {
        max-width: 400px;
        
    }
}
